
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
姓名:
<input type="text" name="firstname">
<p>
    帳號:
    <input type="text" name="firstname">
<p>
    密碼:
    <input type="password" name="username">
<p>
性別:
<input type="radio" name="gender" value="A"> Male
<input type="radio" name="gender" value="B"> Female<br>
<p>
興趣:
<input type ="checkbox"  name="item"  value="A">游泳<br>
<input type ="checkbox"  name="item"  value="A">閱讀<br>
<input type ="checkbox"  name="item"  value="A">看電影<br>
<p>
自我介紹:
<textarea name ="message"  rows="10"  cols="30"></textarea>

